.languageContainer{
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;

}

.languageBtn {
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: #222222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative; 
  z-index: 11;
}

.noActive {
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: #222222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  /* box-shadow:
  4px 4px 4px 0 #424242 inset,
  -3px -3px 10px 0 rgba(0, 0, 0, .25) inset; */
  position: relative;
  z-index: 11;
  border-radius: 10px;
    box-shadow: -3px -3px 7px 0px #363636, -2px -2px 3px 0px #363636,
      3px 3px 7px 0px #0e0e0e, 2px 2px 3px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
      inset 0px 0px 0px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
      inset 0px 0px 0px 0px #0e0e0e;
    transition: box-shadow 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.active {
  box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #363636;
}

.defaultLanguageImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid #363636;
}

.noActiveFlag {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid #363636;
}

.activeFlag{
  transform: scale(0.9);
}

 .chooseLanguage{
  position: absolute;
  width: 36px;
  top: 49px;
  left: 7px;
  transition: .2s;
  background-color: #222222;
  box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #363636;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 9;
 }

 .flagWrapper{
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-color: #222222;;
  border-radius: 100%;
  box-shadow:
  4px 4px 4px 0 #424242 inset,
  -3px -3px 10px 0 rgba(0, 0, 0, .25) inset;
 }

 .flagIcon{
  width: 26px;
  height: 26px;
  object-fit: cover;
  cursor: pointer;
 }

 .flagWrapper:hover{
    box-shadow: inset 0 0 5px #4e4e4e, inset 0 0 10px #b4b4b4;
    transition: .3s;
    border-radius: 3px;
 }
  