.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #222222;
    box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #363636;
}

@media screen and (max-height:699px) {
    .circle {
         height: 30px;
         width: 30px;
    }
}   


