
.webCardContainer{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}


.webCardContentWrapper {
    width: 80%;
    min-width: 320px;
    height:90%;
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 18px;
    box-shadow: 2px 2px 4px #0e0e0e, -2px -2px 4px #363636,
        inset 2px 2px 4px #0e0e0e, inset -2px -2px 4px #363636;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;

}
#lightWebCardContentWrapper{
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: 2px 2px 4px #acacac, -2px -2px 4px #e2e2e2,
            inset 2px 2px 4px #acacac, inset -2px -2px 4px #e2e2e2;
}

.webCardWrapper {
    width:85%;
    min-width: 260px;
    height: 90%;
    background-color: #222222;
    text-decoration : none;
    border-radius: 18px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(145deg, #1f1f1f, #252525);
        box-shadow: -1px -1px 3px 0px #363636, -1px -1px 2px 0px #363636,
            1px 1px 3px 0px #0e0e0e, 1px 1px 2px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
            inset 0px 0px 0px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
            inset 0px 0px 0px 0px #0e0e0e;
    cursor: pointer;
}
#lightWebCardWrapper{
    background: linear-gradient(145deg, #c2c2c281, #d8d8d8);
        box-shadow: -1px -1px 3px 0px #e2e2e2,
            -1px -1px 2px 0px #e2e2e2,
            1px 1px 3px 0px #8b8b8b,
            1px 1px 2px 0px #8b8b8b,
            inset 0px 0px 0px 0px #e2e2e2,
            inset 0px 0px 0px 0px #8b8b8b,
            inset 0px 0px 0px 0px #e2e2e2,
            inset 0px 0px 0px 0px #8b8b8b;
}

.imageWrapper{
    width: 85%;
    height: auto;
    box-shadow: inset 5px 5px 10px #0e0e0e,
            inset -5px -5px 10px #363636;
   display: flex;
   justify-content: center;
   align-items: center;

}

#lightImageWrapper{
    box-shadow: inset 5px 5px 10px #8b8b8b, inset -5px -5px 10px #e2e2e2;
}
.webImg {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.textInfoWrapper {
    width: 85%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px 5px 10px #0e0e0e,
        inset -5px -5px 10px #363636;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;   
}

#lightTextInfoWrapper {
    background-color: rgba(202, 202, 202, 0.2);
    box-shadow: inset 5px 5px 10px #8b8b8b, inset -5px -5px 10px #e2e2e2;
}



.text{
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        word-spacing: 7px;
        font-family: 'Poppins', sans-serif;
        color: rgba(255, 255, 255, 0.747);
        letter-spacing: 2px;
        font-weight: 700;
        font-family: "Trade Winds", system-ui;
            font-weight: 400;
            font-style: normal;
}
#lightText{
    color: rgb(68, 68, 68);
}

.description{
    color: rgba(255, 52, 52, 0.699);
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: italic;
}


@media screen and (max-width:399px) {
.webCardContentWrapper {
        width: 80%;
        min-width: 300px;
        margin: 0px 0px;
    }

}

@media screen and (max-height:704px) {
.webCardContentWrapper {
        width: 80%;
        min-width: 320px;
        height: 90%;
        margin: 0px 20px;

    }
    .text {
      font-size: 16px;
    }
.description {
   font-size: 13px;
}

.textInfoWrapper {
    width: 85%;
    height: 25%;
}
}

 


