.languageContainer {
    width: 90%;
    aspect-ratio: 1 / 0.3;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #363636;
}

#light {
    background-color: #e7e7e7;
    box-shadow: inset 5px 5px 10px #8b8b8b, inset -5px -5px 10px #e2e2e2;
}


.languageInfoWrapper{
    min-width: 190px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.language {
    width: 50%;
    color: rgb(155, 155, 155);
    font-size: calc(15px + 3 * ((100vw - 320px) / (1280 - 320)));
    margin-right: 20px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: italic;

}

#lightLanguage{
    color: rgb(0, 0, 0);
}


.darkStar {
    color: white;
    width: auto;
    padding: 1px;
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightStar{
    color: rgb(100, 100, 100);
    width: auto;
    padding: 1px;
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    width: auto;
    padding: 1px;
    color: rgb(255, 37, 37);
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width:767px) {
.starEng {

        transform: scale(1);
    }

    .starRu {
   
        transform: scale(1);
    }

    .starArm {
    
        transform: scale(1);
    }
        .language {
            margin-right: 5px;
        }
}

@media screen and (max-height:704px) {
   .darkStar {
        padding: 1px;
        transform: scale(0.9);
 
    }
    .active {
            padding: 1px;
            transform: scale(1);
        }
    
        .language {
            display: flex;
            align-items: flex-end;
            justify-content:flex-start;
            margin-right: 5px;
            font-size: calc(13px + 3 * ((100vw - 320px) / (1280 - 320)));
        }

        .languageContainer{
           margin-top: 0;
        }
                
}