.languageContainer {
    width: 90%;
    aspect-ratio: 1 / 0.3;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #363636;
}


.languageInfoWrapper{
    min-width: 190px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.language {
    width: 50%;
    color: rgb(155, 155, 155);
    font-size: calc(15px + 3 * ((100vw - 320px) / (1280 - 320)));
    margin-right: 20px;

}


.star {
    width: auto;
    padding: 1px;
    color: white;
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    width: auto;
    padding: 1px;
    color: rgb(255, 37, 37);
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width:767px) {
.starEng {

        transform: scale(1);
    }

    .starRu {
   
        transform: scale(1);
    }

    .starArm {
    
        transform: scale(1);
    }
        .language {
            margin-right: 5px;
        }
}