.container {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}


.mainWrapper {
    width: 97%;
    height: 92%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    background: #222222;
    box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #363636;
       
}

.skillsParagraphWrapper{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsParagraph{
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.171);
    font-family: 'Poppins', sans-serif;
    color: #222222;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow:
        -1px -1px 2px #ffffff,
        1px 1px 2px #0e0e0e;
    box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #363636;
}

#light {
    color: #2e2e2e79;
    background-color: #e7e7e7;
    text-shadow:
        -1px -1px 2px #cccccc,
        1px 1px 2px #0e0e0e;
    box-shadow: inset 6px 6px 12px #8b8b8b, inset -6px -6px 12px #e2e2e2;
}

.skillsContentWrapper{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
overflow-y: auto;
scroll-snap-type: y mandatory;
padding:5px 0px;
margin-bottom: 7px;
}

.skillsContent {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}

.technicalSkillsContent{
    width: 47%;
    height: 96%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg, #1f1f1f, #252525);
    box-shadow: -1px -1px 3px 0px #363636, -1px -1px 2px 0px #363636,
            1px 1px 3px 0px #0e0e0e, 1px 1px 2px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
            inset 0px 0px 0px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
            inset 0px 0px 0px 0px #0e0e0e;
  

}

#lightSkillsContent{
    background:linear-gradient(145deg, #c2c2c281, #d8d8d8);
    box-shadow: -1px -1px 3px 0px #e2e2e2,
    -1px -1px 2px 0px #e2e2e2,
    1px 1px 3px 0px #8b8b8b,
    1px 1px 2px 0px #8b8b8b,
    inset 0px 0px 0px 0px #e2e2e2,
    inset 0px 0px 0px 0px #8b8b8b,
    inset 0px 0px 0px 0px #e2e2e2,
    inset 0px 0px 0px 0px #8b8b8b;
}


.professionalSkillsContent {
    width: 47%;
    height: 96%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(145deg, #1f1f1f, #252525);
    box-shadow: -1px -1px 3px 0px #363636, -1px -1px 2px 0px #363636,
            1px 1px 3px 0px #0e0e0e, 1px 1px 2px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
            inset 0px 0px 0px 0px #0e0e0e, inset 0px 0px 0px 0px #363636,
            inset 0px 0px 0px 0px #0e0e0e;

}

.paragraph{
   color: rgb(155, 155, 155);
   font-size: calc(17px + 3 * ((100vw - 320px) / (1280 - 320)));
   letter-spacing: 2px;
   font-weight: 500;
   margin-top: 10px;
   padding-bottom: 3px;
   border-bottom: 1px solid rgb(255, 49, 49);
}
#lightParagraph {
    color: rgb(68, 68, 68);
    font-weight: 800;
}

.technicalSkillsWrapper{
    width:85%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}


.professionalSkillsWrapper{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.control {
    width: 98%;
    height: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    background: linear-gradient(145deg, #333333, #222222);
    box-shadow: 1px 1px 2px #040404, -0.5px -0.5px 2px #929292;
    overflow: hidden;
    margin-top: 10px;
}

#lightControl{
    box-shadow: 1px 1px 2px #777777, -0.5px -0.5px 2px #bbbbbb;
    background: linear-gradient(145deg, #cecece, #cacaca);
}


@media screen and (max-width:767px) {
.mainWrapper {
        width: 96%;
        padding: 10px 0px;
    }

.skillsContentWrapper{
   justify-content: center;
    align-items: flex-start;

}


.skillsParagraph {
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 5px;
}
.skillsContent {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

.skillsParagraphWrapper {
    margin-bottom: 10px;
    margin-top: 10px;
} 

.technicalSkillsContent {
    width: 90%;
    min-height:100%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align:center;
    border: 1px solid #363636;
    margin-bottom:20px;

}

.professionalSkillsContent {
    width: 90%;
    min-height: 100%;
    border: 1px solid #363636;
    scroll-snap-align: center;
 
}
/* .professionalSkillsWrapper{
    width: 98%;
} */


}










/* .skillsContent::-webkit-scrollbar {
    width: 0;
    background: transparent;
    height: 0;
}

.skillsContent::-webkit-scrollbar-thumb {
    background: transparent
}

.skillsContent::-webkit-scrollbar-track {
    background: transparent;
} */